<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneplus.myradar">

    <!-- 百度地图API所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 读写短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AyHDZoOcvZV3vtEIMRdTKPfM0l7oiOQy" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".FriendPageActivity" />
        <activity android:name=".FriendDetailActivity" />
        <activity android:name=".EnemyPageActivity" />
        <activity android:name=".EnemyDetailActivity"></activity>

        <receiver android:name=".SMSBroadcastReceiver">
            <intent-filter android:priority="1000">
                <!-- 优先级设为1000，最高 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service android:name=".SendLocService">
            <intent-filter>
                <action android:name="com.oneplus.sendLocService"/>
            </intent-filter>
        </service>
        <service android:name=".SetLocService">
            <intent-filter>
                <action android:name="com.oneplus.setLocService"/>
            </intent-filter>
        </service>
        <service android:name=".DeleteSMSService">
            <intent-filter>
                <action android:name="com.oneplus.deleteSMSService"/>
            </intent-filter>
        </service>
    </application>

</manifest>